**/.DS_Store
.dockerignore
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.idea
.pnp
.pnp.js
.vercel
.vscode
build
coverage
Dockerfile
Dockerfile.md
node_modules
npm-debug.log
npm-debug.log*
README.md
